---
import Dash from "../layout/Dash.astro";
---

<Dash title="Dashboard">
  <nav
    class="border-b w-56 h-full mr-auto bg-white dark:bg-zinc-800 dark:border-zinc-700 rounded-lg mt-6 mb-6 ml-6"
  >
    <div
      class="flex items-baseline justify-end sm:justify-between p-4 max-w-screen-xl mx-auto flex-col content-start"
    >
      <a href="/" class="hidden sm:block font-bold text-3xl text-center text-zinc-900"
        >Pteranodon</a
      >
      <div>
        <ul class="font-medium mt-3">
          <li>
            <a
              href="/dashboard"
              class="block text-zinc-900 transition-all hover:text-blue-600 hover:underline mt-2"
              ><i class="fa-solid fa-border-all inline-block"></i> Dashboard</a
            >
          </li>
          <li>
            <a
              href="/emporium"
              class="block transition-all text-blue-600 underline"
              ><i class="fa-solid fa-bag-shopping"></i></i> Emporium</a
            >
          </li> 
          <li>
            <a
              href="/account"
              class="block text-zinc-900 transition-all hover:text-blue-600 hover:underline mt-2"
              ><i class="fa-solid fa-user"></i> Account</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</Dash>
