---
import Base from "../layout/Base.astro";
export const prerender = true;
const title = "Revolutionizing hosting.";
---
<style>
  @import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');
 h1, p { font-family: 'Fredoka', system-ui, sans-serif; }
</style>
<Base title='ServerDeploy'>
  <main class="flex flex-col gap-2 mt-36 items-center p-4 justify-center">
    <h1 class="text-8xl sm:text-7xl font-bold bg-gradient-to-r from-blue-600 via-indigo-500 to-indigo-200 inline-block text-transparent h-1/2 bg-clip-text text-center">{title}</h1>
    <p class="mt-6 text-white text-xl max-w-prose text-center">ServerDeploy is a new cutting-edge hosting solution that is tailored to gamers and developers. Featuring robust servers, seamless panels, and competitive pricing, there is nowhere else to go! start now.</p>
  
    <a href="/dashboard" class="border-0 h-20 bg-gray-200 hover:bg-slate-600  text-black hover:text-blue-300 transition-all rounded-full w-44 flex flex-row items-center justify-center mt-16">Deploy Now <i class="fa-solid fa-arrow-right ml-2"></i></a>  </main>
</Base>
